# App Setup
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Neon Serverless Postgres Database (Drizzle ORM)
DATABASE_URL=postgresql://neondb_owner:ppp@jhjkhjkc-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Clerk Authentication (SaaS Hosted Auth)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_
CLERK_SECRET_KEY=sk_test_
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:3000/api/github/callback
GITHUB_AUTH_URI=https://github.com/login/oauth/authorize
GITHUB_TOKEN_URI=https://github.com/login/oauth/access_token
GITHUB_USER_REPOS_URI=https://api.github.com/user/repos

GEMINI_API_KEY=iiii
GEMINI_MODEL=gemini-3.1-flash-lite

PLAYWRIGHT_CHROMIUM_EXECUTABLE_PATH=C:\Dev\ws\NextJs\ai-test-automation-agent\public\chrome-headless-shell-win64\chrome-headless-shell.exe
